<div class="container">
    <div class="row">
        <div class="col-12 py-4">
            
            <div id="content">
                
                <app-timeline class="w-100"></app-timeline>

        </div>
    </div>
    <!--/row-->
</div>
