<div class="header bg-dark py-md-4 py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-2 align-content-center">
                <img src="{{personalData.photoPath}}" class="img-fluid border border-3" alt="{{personalData.shortname}}">
            </div>
            <div class="col-md-10 pt-md-0 pt-1">
                <h1 class="display-5 text-primary">{{personalData.shortname}}</h1>
                <h3 class="lead text-secondary">{{personalData.title}}</h3>
                <h6 class="text-secondary">{{personalData.about}}</h6>

                <div class="pt-md-2 pt-1 small text-secondary">

                    <div class="text-nowrap d-inline-block mr-2">
                        <i class="fa fa-home text-primary"></i>
                        {{personalData.address.firstline}},
                        {{personalData.address.secondline}}
                    </div>

                    <div class="text-nowrap text-secondary d-inline-block mr-2" *ngFor="let contact of personalData.contacts">
                        <i class="{{contact.faicon}} text-primary"></i>
                        <ng-container
                            *ngIf="contact.htmllink != ''; then link; else nolink">
                        </ng-container>
                        <ng-template #link>
                            <a href="{{contact.htmllink}}" class="nounderline text-secondary"> 
                                {{contact.text}}
                            </a>
                        </ng-template>
                        <ng-template #nolink>
                            <span class="text-secondary ml-1">{{contact.text}}</span>
                        </ng-template>

                    </div>

                </div>

            </div>
        </div>
        <!--/row-->
    </div>
    <!--container-->
</div>
