<nav class="navbar navbar-expand-sm sticky-top navbar-light bg-secondary">
    <div class="container">
        <div class="row w-100">
            <div class="col-md-2 pl-1">
                <a class="navbar-brand" href="#">Timeline Filter</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                    data-target="#navbar1">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="col-md-10 pt-md-0 pt-1 align-content-end">
                <div class="collapse navbar-collapse" id="navbar1">
                    <ul class="navbar-nav">
                        <li class="nav-item text-black-50">
                            <div class="custom-control custom-switch d-inline-block mr-2 m-2" *ngFor="let item of timelineEventTypes; let i = index">
                                <input type="checkbox" class="custom-control-input" id="{{'customSwitch'+i}}" [checked]="timelineEventTypes[i].selected" 
                                                    (change)="timelineEventTypeSelectChange(i)"/>
                                <label class="custom-control-label" for="{{'customSwitch'+i}}">{{item.timelineEvent}}</label>
                            </div>
                        </li>
                        <li class="nav-item">

                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <!-- Right Align
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Link</a>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>

<h1 class="text-center">The story so far...</h1>

<section id="cd-timeline" class="cd-container">

    <div class="cd-timeline-block" *ngFor="let timelineItem of filteredTimelineData">
        <div class="cd-timeline-img cd-picture text-center">
            <i class="{{timelineItem.faicon}} small"></i>
        </div>

        <div class="cd-timeline-content fadeInLeft">
            <h2 class="text-primary">{{timelineItem.title}}</h2>
            <div class="timeline-content-info">
                <span class="timeline-content-info-title">
                    <i class="{{timelineItem.faicon}} text-primary" aria-hidden="true"></i>
                    {{timelineItem.subtitle}}
                </span>
                <span class="timeline-content-info-date">
                    <div><i class="fa fa-calendar-o text-primary"
                            aria-hidden="true"></i>{{timelineItem.dateStart | date: 'y, MMMM d'}}</div>
                    <div *ngIf="timelineItem.dateEnd"><i class="fa fa-calendar-o text-primary"
                            aria-hidden="true"></i>{{timelineItem.dateEnd | date: 'y, MMMM d'}}</div>
                </span>
            </div>
            <p>{{timelineItem.description}}</p>
            <ul class="content-skills">
                <li *ngFor="let item of timelineItem.otherAttributes">
                    {{item}}
                </li>
            </ul>
        </div> <!-- cd-timeline-content -->
    </div>
</section>