$theme-colors: (
  "primary": #D01110,
  "secondary": #EBE8E0
);

$thumbnail-bg: #EBE8E0;

$body-bg:#343a40;
$body-color: #EBE8E0;

// "primary": #EBE8E0,
// "secondary": #A8BBB0
// 0A0A00
// D01110

@import "node_modules/bootstrap/scss/bootstrap";
@import "./timeline.scss";

html, body {
  background-color: #222C32;
  height: 100%;
  // font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

.border-3 {
  border-width:3px !important;
}

.nounderline:hover {
  text-decoration: none !important
}


